{% extends 'base/_layout.html' %}
{% load static %}
{% block content %}

<div class="app-title">
    <div>
        <h1><i class="fa fa-dashboard"></i> Respuestas </h1>
    </div>
    <ul class="app-breadcrumb breadcrumb">
        <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>  
        <li class="breadcrumb-item"><a href="/pregunta">Pregunta</a></li>
    </ul>
</div>
      
<div class="row">
    <div class="col-md-12">
        <div class="tile">         
            <div class="tile-body">
                <form method="get">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="True o False" name="buscar" value="{{ request.GET.buscar}}">
                        <div class="input-group-append" id="button-addon4">
                            <button class="btn btn-dark btn-sm" type="submit"><i class="fa fa-search"></i>Buscar</button>
                        </div>
                    </div>
                </form>
                    <table class="table table-striped table-sm table-responsive" id="lst_cat">
                        <thead>
                            <tr>
                                <th>Respuesta</th>
                                <th>Correcta</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            
                            {% for r in page_obj %}
                            <tr>
                                <td>{{ r.detalle_respuesta }}</td>
                                <td>{{ r.correcta }}</td>
                                <td>{{ r.fecha }}</td>
                                <td>
                                    <a href="/pregunta/eliminar_respuesta/{{ r.id }}"><i class="fa fa-trash"></i></a>
                                </td>
                            </tr>
                            {% endfor %}
                        
                        </tbody>
                    </table>
                <!--{{ page }}-->
                <nav aria-label="Page navigation example">
                    <ul class="pagination">
                        {% if page_obj.has_previous %}
                            <li class="page-item disabled">
                                <a href="?page={{ page_obj.previous_page_number }}" style="background-color:gold; border-color:gold; color: #000;">
                                    <span class="page-link" style="background-color:gold; border-color:gold; color: #000;"> Anterior</span>
                                </a>
                            </li>
                        {% endif %}

                        <li class="page-item active "><a class="page-link" href="#" style="background-color:gold; border-color:gold; color: #000;">Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}</a></li>
                        <!--{% for num in page_obj.paginator.page_range %}
                        <li class="page-item {% if page_obj.number == num %} active {% endif %}"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
                        {% endfor %}-->

                         {% if page_obj.has_next %}
                             <li class="page-item">
                                <a class="page-link" href="?page={{ page_obj.next_page_number }}" style="background-color:gold; border-color:gold; color: #000;">
                                    <span>Siguiente</span>
                                </a>
                             </li>
                        {% endif %}

                    </ul>
                </nav>

            </div>
        </div>
    </div>
</div>

{% endblock %}


{% block extrajs %}
{% endblock %}
